body{
    font-family:initial;
}
.header{
    color:white;
    background-color:darkslategray;
    height:100px;
}
.header-logo{
    font-size:32px;
float: left;
padding:30px 50px;
}
.btn-wrapper{
    padding:30px 50px;
    font-size:24px;

  
}
a{
    margin-right:50px;
    text-decoration:wavy;
    transform: scale(1);

}

.btn:hover{
    opacity:1;

}

a:hover{
    transform:scale(1.2);
    color:antiquewhite;
transition:0.3 ease-in;

}

.btn {
    
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
}

  
.container{
    width:500px;
     color:white;
     height:100px;

}

.top-wrapper{
    background-image: url(https://th.bing.com/th/id/OIP.YsA2Qo26yNtWu51KcDG81gHaHa?pid=ImgDet&w=201&h=201&c=7&dpr=1,3);
   padding:0px 0px 100px 0px;
margin-top:10px;
background-size:contain;    

}
.top-wrapper h1{
    background-color:darkslategray;
margin-left:20px;
text-align:center;
margin-top:10px;
margin-bottom:-20px;
height:50px;

}

.top-wrapper p{
    background-color:darkslategray;
   margin-left:20px;
text-align:center;

}



img{
    width:300px;
    height:200px;
    margin-left:5px;
position:relative;
transform:scale(1);
    
}

img:hover{
    transition:0.3s ease-out;
    transform: scale(1.1);

}

.contents-item{
    float:left;
    margin-right:40px;
   
    padding-left:22px;
}

.wrapper p2{
   color:black;
   margin-left:15px;
   
   

}

.contents h3{
    border-top:2px solid grey;
    padding:20px 15px 0px 15px;
  margin-left:15px;
}

.wrapper p{
    color:black;
    margin-left:15px;


}
.contents2 h3{
    border-top:2px solid grey;
    padding:20px 15px 0px 15px;
    margin-top:350px;
    margin-left:15px;
}



.contents3 h3{
    border-top:2px solid grey;
    margin-top:350px;
    padding: 20px 15px 0px 15px;
    margin-left:15px;
}

.wrapper {
   
    float:left;
    margin-top:10px;
    padding: 20px 22px 20px 25px;
    margin-right:10px;
}
.wrapper a {
    border: 0px solid transparent;
    width: 500px;

    position: relative;
    cursor: pointer;
}


.container2{
    float:right;
    font-size:30px;
    padding:30px 20px;

  color: white;
  display:flex;
}

.header-left:hover{
    color:white;
}

.header-left{
    color:white;
}

.footer{
    background-color:darkslategray;
    height:400px;
    margin-top:400px;
    color:white;


}

.footer-logo{
    font-size:40px;
    padding:150px 100px;
    float:left;
}

.footer-list{
   float:left;
    font-size:25px;
    padding:100px 100px;
 
}

.footer-list2{
    float:left;
    font-size:25px;
    padding:100px 100px;

}

.footer-list li{
    font-size:20px;
    padding-bottom:10px;
    list-style: none;
    padding-left:10px;
}

.footer-list2 li{
    font-size:20px;
    padding-bottom:10px;
    list-style: none;
    padding-left:10px;
}

